services:
  postgres:
    image: postgres:18.1
    container_name: hyperion-postgres
    ports:
      - "5432:5432"
    restart: unless-stopped
    environment:
      - POSTGRES_USER=hyperion
      - POSTGRES_PASSWORD=hyperion
      - DATABASE=hyperion
    networks:
      - server_network
    shm_size: 128mb
    volumes:
      - hyperion-postgres:/var/lib/postgresql

  server:
    build:
      context: .
      dockerfile: src/server/Dockerfile
    container_name: hyperion-server
    depends_on:
      - postgres
    restart: unless-stopped

    networks:
      - server_network
    ports:
      - 9000:9000
  pgadmin:
      image: dpage/pgadmin4:latest
      container_name: hyperion-pgadmin
      restart: unless-stopped
      depends_on: 
        - postgres
      environment:
        PGADMIN_DEFAULT_EMAIL: "admin@admin.com" 
        PGADMIN_DEFAULT_PASSWORD: "admin"
      ports:
        - "5050:80"
      networks:
        - server_network
      volumes:
        - pgadmin-data:/var/lib/pgadmin
networks:
  server_network:

volumes:
  hyperion-postgres:
  pgadmin-data: