services:
  database:
    image: mariadb:11.4
    container_name: mariadb_server
    ports:
      - "3306:3306"
    environment:
      - MARIADB_ROOT_PASSWORD=hyperion
      - MARIADB_DATABASE=hyperion
      - MARIADB_USER=hyperion
      - MARIADB_PASSWORD=hyperion
    restart: unless-stopped
    volumes:
      - mariadb_data:/var/lib/mysql  

  redis:
    image: redis:8.4
    container_name: redis_cache
    ports:
      - "6379:6379"
    command: redis-server --requirepass hyperion
    restart: unless-stopped

volumes:
  mariadb_data: